<p style="position: fixed; top: 0;">{{ multiStepFormService.form.value | json }}</p>
<form action="javascript:void(0)" [formGroup]="multiStepFormService.form">
    <div class="form_wrapper" [attr.data-step]="multiStepFormService.currentFormStep" [class.confirmed]="multiStepFormService.confirmBtnClicked">
        <form-part-1 class="form_part"></form-part-1>
        <form-part-2 class="form_part"></form-part-2>
        <form-part-3 class="form_part"></form-part-3>
        <form-part-4 class="form_part"></form-part-4>
    </div>
    <div class="form_action_btns">
        <div class="form_action_btns_inner">
            <button type="button" class="back_btn" (click)="handleCurrentStep('back')" [class.hidden]="multiStepFormService.currentFormStep === 1">Go back</button>
            <button type="button" class="next_btn" (click)="handleCurrentStep('next')" [class.confirm]="multiStepFormService.currentFormStep === multiStepFormService.maxFormSteps">
                <span>Next step</span>
                <span>Confirm</span>
            </button>
        </div>
    </div>
    <div class="confirmation" >
        <img src="/images/icon-thank-you.svg" alt="">
        <h2>Thank you!</h2>
        <p>Thanks for confirming your subscription! We hope you have fun using our platform. If you ever need support, please feel free to email us at support&#64;loremgaming.com.</p>
    </div>
</form>