<form action="javascript:void(0)" [formGroup]="form">
    <div class="form_wrapper" [attr.data-step]="multiStepFormService.currentFormStep" [class.confirmed]="confirmBtnClicked">
        <div class="form_part" formGroupName="personalInfo">
            <div class="form_part_intro">
                <h2>Personal info</h2>
                <p>Please provide your name, email address and phone number.</p>
            </div>
            <div class="form_control">
                <div>
                    <label for="name">Name</label>
                    @if (name?.errors && nextBtnClicked) {
                        @if (name?.errors?.['required']) { <span class="form_control_error">This field is required</span> }
                    }
                </div>
                <input type="text" name="name" [class.error]="name?.errors && nextBtnClicked" id="name" formControlName="name" placeholder="e.g. Stephen King">
            </div>
            <div class="form_control">
                <div>
                    <label for="email">Email address</label>
                    @if (email?.errors && nextBtnClicked) {
                        @if (email?.errors?.['required']) { <span class="form_control_error">This field is required</span> }
                        @if (email?.errors?.['invalidEmailFormat']) { <span class="form_control_error">Invalid email format</span> }
                    }
                </div>
                <input type="email" name="email" [class.error]="email?.errors && nextBtnClicked" id="email" formControlName="email" placeholder="e.g. stephenking@lorem.com">
            </div>
            <div class="form_control">
                <div>
                    <label for="phoneNumber">Phone number</label>
                    @if (phoneNumber?.errors && nextBtnClicked) {
                        @if (phoneNumber?.errors?.['required']) { <span class="form_control_error">This field is required</span> }
                        @if (phoneNumber?.errors?.['invalidPhoneNumberFormat']) { <span class="form_control_error">Invalid phone number format</span> }
                    }
                </div>
                <input type="tel" name="phoneNumber" [class.error]="phoneNumber?.errors && nextBtnClicked" id="phoneNumber" formControlName="phoneNumber" placeholder="e.g. +1 234 567 890">
            </div>
        </div>

        <div class="form_part">
            <div class="form_part_intro">
                <h2>Select your plan</h2>
                <p>You have the option of monthly or yearly billing.</p>
            </div>
            <div class="plan_types_wrapper">
                @for (planType of planTypes; let i = $index; track planType.name) {
                    <div class="plan_type_card">
                        <input type="radio" name="planType" id="planType{{ i }}" [value]="planType.name" formControlName="planType" (change)="selectedPlanType = planType">
                        <label for="planType{{ i }}">
                            <span class="sr_only">{{ planType.name }}</span>
                        </label>
                        <img [src]="planType.iconPath" alt="">
                        <div class="plan_type_info">
                            <span>{{ planType.name }}</span>
                            <span>
                                @if (billing?.value === 'monthly') { ${{ planType.price.monthly }}/mo }
                                @if (billing?.value === 'yearly') { ${{ planType.price.yearly }}/yr }
                            </span>
                            @if (billing?.value === 'yearly') { <small>2 months free</small> }
                        </div>
                    </div>
                }
            </div>
            <div class="billing_wrapper">
                <input type="radio" name="billing" id="monthly" formControlName="billing" value="monthly" checked #monthlyBilling>
                <label for="monthly">Monthly</label>
                <button class="billing_switch_btn" (click)="handleBillingToggleBtn(monthlyBilling, yearlyBilling)" [class.switched]="yearlyBilling.checked ? true : false"></button>
                <input type="radio" name="billing" id="yearly" formControlName="billing" value="yearly" #yearlyBilling>
                <label for="yearly">Yearly</label>
            </div>
            @if (planType?.errors && nextBtnClicked) {
                @if (planType?.errors?.['required']) { <span class="form_control_error">Please select a plan type</span> }
            }
        </div>
        <div class="form_part">
            <div class="form_part_intro">
                <h2>Pick add-ons</h2>
                <p>Add-ons help enhance your gaming experience.</p>
            </div>
            <div class="add_ons_wrapper">
                @for (addOn of addOns; let i = $index; track addOn.name) {
                    <div class="add_on_card">
                        <input type="checkbox" name="addOn" id="addOn{{ i }}" [value]="addOn.name" formControlName="addOns" (change)="handleSelectedAddOns(addOn)">
                        <label for="addOn{{ i }}">
                            <span class="sr_only">{{ addOn.name }}</span>
                        </label>
                        <div class="add_on_card_fake_checkbox"></div>
                        <div class="add_on_card_info">
                            <span>{{ addOn.name }}</span>
                            <span>{{ addOn.description }}</span>
                        </div>
                        <span class="add_on_card_price">
                            @if (billing?.getRawValue() === 'monthly') { +${{ addOn.price.monthly }}/mo }
                            @if (billing?.getRawValue() === 'yearly') { +${{ addOn.price.yearly }}/yr }
                        </span>
                    </div>
                }
            </div>
        </div>
        <div class="form_part">
            <div class="form_part_intro">
                <h2>Finishing up</h2>
                <p>Double-check everything looks OK before confirming.</p>
            </div>
            <div class="summary">
                <div class="summary_inner">
                    <div class="summary_plan">
                        <div>
                            <span>{{ selectedPlanType?.name }} ({{ billing?.value | titlecase }})</span>
                            <button (click)="goToSelectPlan()">Change</button>
                        </div>
                        <span>
                            @if (selectedPlanType) {
                                @if (billing?.value === 'monthly') { ${{ selectedPlanType.price.monthly }}/mo }
                                @if (billing?.value === 'yearly') { ${{ selectedPlanType.price.yearly }}/yr }
                            }
                        </span>
                    </div>
                    @if (selectedAddOns.length > 0) { 
                        <div class="summary_add_ons">
                            @for (addOn of selectedAddOns; track addOn.name) {
                                <div>
                                    <span>{{ addOn.name }}</span>
                                    <span>
                                        @if (billing?.value === 'monthly') { +${{ addOn.price.monthly }}/mo }
                                        @if (billing?.value === 'yearly') { +${{ addOn.price.yearly }}/yr }
                                    </span>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="summary_total">
                    <span>Total (per {{ billing?.value === 'monthly' ? 'month' : 'year' }})</span>
                    <span>{{ totalPrice }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form_action_btns">
        <div class="form_action_btns_inner">
            <button type="button" class="back_btn" (click)="handleCurrentStep('back')" [class.hidden]="multiStepFormService.currentFormStep === 1">Go back</button>
            <button type="button" class="next_btn" (click)="handleCurrentStep('next')" [class.confirm]="multiStepFormService.currentFormStep === multiStepFormService.maxFormSteps">
                <span>Next step</span>
                <span>Confirm</span>
            </button>
        </div>
    </div>
    <div class="confirmation" >
        <img src="/images/icon-thank-you.svg" alt="">
        <h2>Thank you!</h2>
        <p>Thanks for confirming your subscription! We hope you have fun using our platform. If you ever need support, please feel free to email us at support&#64;loremgaming.com.</p>
    </div>
</form>