@use '../../../variables';
@use '../../../mixins';

form {
    width: 100%;
    min-height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.form_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 100%);
    align-items: start;
    transition: transform variables.$transition_duration;
    .form_part {
        min-height: 100%;
        padding: 0 1rem;
        display: grid;
        grid-template-columns: minmax(0, 28.125rem);
        align-content: start;
        justify-content: center;
        visibility: hidden;
        transition: transform variables.$transition_duration, visibility variables.$transition_duration;
        &_intro {
            width: 100%;
            padding: 2.5rem 0;
            display: grid;
            grid-template-columns: minmax(0, 28.125rem);
            justify-content: center;
            h2 {
                margin-bottom: .75rem;
            }
            p {
                color: variables.$clr_font_third;
            }
        }
    }
    @for $i from 0 through 3 {
        &[data-step='#{$i + 1}'] {
            transform: translateX(calc(#{$i} * -100%));
            .form_part:nth-child(#{$i + 1}) {
                visibility: visible;
            }
        }
    }
    &.confirmed {
        .form_part {
            transform: translateY(-100%);
            visibility: hidden;
        }
        + .form_action_btns {
            visibility: hidden;
        }
        ~ .confirmation {
            transform: translateY(0);
            visibility: visible;
        }
    }
}

.form_action_btns {
    width: 100%;
    padding: 0 1rem;
    background: variables.$bg_second;
    position: absolute;
    bottom: 1rem;
    left: 0;
    display: grid;
    grid-template-columns: minmax(0, 28.125rem);
    place-content: center;
    &_inner {
        display: flex;
        justify-content: space-between;
    }
    button {
        padding: 1rem 0;
        background: transparent;
        font-size: 1rem;
        font-weight: 500;
        text-transform: capitalize;
        border-radius: 10px;
        transition: background variables.$transition_duration;
        &.back_btn {
            width: 4.375rem;
            color: variables.$clr_font_third;
            transition: transform variables.$transition_duration, visibility variables.$transition_duration, color variables.$transition_duration;
            &:hover {
                color: variables.$clr_font_main;
            }
            &.hidden {
                transform: translateY(100dvh);
                visibility: hidden;
            }
        }
        &.next_btn {
            width: 7.5rem;
            background: variables.$bg_next_btn;
            color: variables.$clr_font_second;
            &:hover {
                background: variables.$bg_next_btn_hover;
            }
            span {
                font-weight: 500;
                &:nth-child(2) {
                    display: none;
                }
            }
            &.confirm {
                background: variables.$bg_confirm_btn;
                &:hover {
                    background: variables.$bg_confirm_btn_hover;
                }
                span:nth-child(1) {
                    display: none;
                }
                span:nth-child(2) {
                    display: block;
                }
            }
        }
    }
}

.confirmation {
    padding: 0 1rem;
    background: variables.$bg_second;
    text-align: center;
    display: grid;
    place-content: center;
    justify-items: center;
    position: absolute;
    inset: 0;
    z-index: 2;
    transform: translateY(100%);
    visibility: hidden; 
    transition: transform variables.$transition_duration, visibility variables.$transition_duration;
    h2 {
        margin: 2rem 0 1rem;
    }
    p {
        max-width: 50ch;
        color: variables.$clr_font_third;
    }
}

@media (max-width: 43.75rem) {  
    .form_wrapper {
        .form_part {
            background: variables.$bg_second;
            min-height: auto;
            padding: 0 1.5625rem 1.25rem;
            &_intro {
                background: variables.$bg_second;
                padding: 1.875rem 0 1.25rem;
            }
        }
        &.confirmed {
            + .form_action_btns {
                transform: translateY(100%);
                visibility: hidden;
            }
        }
    }

    .form_control {
        margin-bottom: 0.875rem;
        > div {
            margin-bottom: 0.375rem;
        }
        input {
            padding: 11px 1rem;
            font-size: 0.9375rem;
        }
        &_error {
            font-size: 12px;
        }
    }

    .form_action_btns {
        width: 100%;
        background: white;
        padding: 1.25rem;
        position: fixed;
        bottom: 0;
        left: 0;
        transition: transform variables.$transition_duration;
        button {
            padding: .75rem 0;
            font-size: 0.875rem;
            border-radius: 4px;
            &.next_btn {
                width: 100px;
            }
        }
    }

    .confirmation {
        height: 25rem;
        img {
            width: 3.4375rem;
            aspect-ratio: 1;
        }
        h2 {
            margin: 1.5rem 0 .75rem;
        }
        p {
            max-width: 33ch;
        }
    }
}