@use '../../../variables';
@use '../../../mixins';

.add_on_card {
    margin-bottom: 1rem;
    padding: 1.25rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    position: relative;
    label {
        border: 1px solid variables.$clr_border_main;
        border-radius: 10px;
        position: absolute;
        inset: 0;
        z-index: 1;
        transition: background variables.$transition_duration, border-color variables.$transition_duration;
        &:hover {
            border-color: rgba(3, 40, 90, 1);
        }
    }
    input {
        position: absolute;
        left: 0;
        &:focus-visible + label {
            @include mixins.focus-visible;
        }
        &:checked + label {
            background: rgba(248, 249, 254, 1);
            border-color: rgba(3, 40, 90, 1);
        }
    }
    &_fake_checkbox {
        min-width: 1.25rem;
        aspect-ratio: 1;
        background: transparent;
        border: 1px solid variables.$clr_border_main;
        border-radius: 5px;
        position: relative;
        z-index: 1;
        pointer-events: none;
    }
    input:checked ~ .add_on_card_fake_checkbox {
        background: rgba(3, 40, 90, 1) url('/images/icon-checkmark.svg') no-repeat;
        background-size: .75rem;
        background-position: center;
        border-color: rgba(3, 40, 90, 1);
    }
    &_info {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        position: relative;
        z-index: 1;
        pointer-events: none;
        span {
            &:nth-child(1) {
                font-weight: 700;
            }
            &:nth-child(2) {
                color: variables.$clr_font_third;
                font-size: .875rem;
            }
        }
    }
    &_price {
        margin-left: auto;
        font-size: .875rem;
        font-weight: 500;
        position: relative;
        z-index: 1;
        pointer-events: none;
    }
}

@media (max-width: 43.75rem) {  
    .add_on_card {
        margin-bottom: .75rem;
        padding: 0.875rem 1rem;
        gap: 1.125rem;
        &_info {
            gap: .25rem;
            span {
                &:nth-child(1) {
                    font-size: .875rem;
                }
                &:nth-child(2) {
                    font-size: .75rem;
                }
            }
        }
        &_price {
            font-size: .75rem;
        }
    }
}