@use '../../../variables';
@use '../../../mixins';

.summary {
    &_inner {
        padding: 1.5rem;
        background: rgba(248, 249, 254, 1);
        border-radius: 10px;
    }
    &_plan {
        padding-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > div {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: .375rem;
            button {
                background: transparent;
                color: variables.$clr_font_third;
                font-size: .9375rem;
                text-decoration: underline;
                &:hover {
                    color: variables.$clr_font_main;
                }
            }
        }
        span {
            font-weight: 700;
        }
    }
    &_add_ons {
        border-top: 1px solid variables.$clr_border_main;
        > div {
            margin-top: 1.25rem;
            color: variables.$clr_font_third;
            font-size: .875rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &_total {
        padding: 1.5rem;
        color: variables.$clr_font_third;
        font-size: .875rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span:nth-child(2) {
            color: variables.$clr_font_main;
            font-size: 1.25rem;
            font-weight: 700;
        }
    }
}

@media (max-width: 43.75rem) {
    .summary {
        &_inner {
            padding: 1rem;
        }
        &_plan {
            padding-bottom: 1rem;
            > div {
                gap: .25rem;
            }
            span {
                font-size: .875rem;
            }
        }
        &_add_ons {
            > div {
                margin-top: .875rem;
            }
        }
        &_total {
            padding: 1.375rem .875rem;
            span:nth-child(2) {
                font-size: 1rem;
            }
        }
    }
}