<div [formGroup]="formService.form">
    <div class="form_part_intro">
        <h2>Select your plan</h2>
        <p>You have the option of monthly or yearly billing.</p>
    </div>
    <div class="plan_types_wrapper">
        @for (planType of planTypes; let i = $index; track planType.name) {
            <div class="plan_type_card">
                <input type="radio" name="planType" id="planType{{ i }}" [value]="planType.name" formControlName="planType" (change)="formService.selectedPlanType = planType">
                <label for="planType{{ i }}">
                    <span class="sr_only">{{ planType.name }}</span>
                </label>
                <img [src]="planType.iconPath" alt="">
                <div class="plan_type_info">
                    <span>{{ planType.name }}</span>
                    <span>
                        @if (formService.billing?.value === 'monthly') { ${{ planType.price.monthly }}/mo }
                        @if (formService.billing?.value === 'yearly') { ${{ planType.price.yearly }}/yr }
                    </span>
                    @if (formService.billing?.value === 'yearly') { <small>2 months free</small> }
                </div>
            </div>
        }
    </div>
    <div class="billing_wrapper">
        <input type="radio" name="billing" id="monthly" formControlName="billing" value="monthly" checked #monthlyBilling>
        <label for="monthly">Monthly</label>
        <button class="billing_switch_btn" [attr.aria-label]="yearlyBilling.checked ? 'Switch to monthly billing' : 'Switch to yearly billing'" (click)="handleBillingToggleBtn(monthlyBilling, yearlyBilling)" [class.switched]="yearlyBilling.checked ? true : false"></button>
        <input type="radio" name="billing" id="yearly" formControlName="billing" value="yearly" #yearlyBilling>
        <label for="yearly">Yearly</label>
    </div>
    @if (formService.planType?.errors && formService.nextBtnClicked) {
        @if (formService.planType?.errors?.['required']) { <span class="form_control_error">Please select a plan type</span> }
    }
</div>