@use 'variables';
@use 'mixins';

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: variables.$font_family_main;
}

body {
    min-height: 100dvh;
    margin: 0;
    background: variables.$bg_main;
    display: grid;
    place-items: center;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

p {
    line-height: 1.5;
}

h2 {
    font-size: 2rem;
}

input[type=checkbox],
input[type=radio] {
    appearance: none;
    margin: 0;
}

label {
    font-size: .875rem;
    text-transform: capitalize;
    cursor: pointer;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    &:focus-visible {
        @include mixins.focus-visible;
    }
}

.sr_only {
    width: .0625rem;
    height: .0625rem;
    margin: 0;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    position: absolute;
}

@media (max-width: 43.75rem) {
    body {
        display: block;
    }

    h2 {
        font-size: 24px;
    }

    label {
        font-size: 13px;
    }
}

@media (prefers-reduced-motion) {
    * {
        transition: none 0s !important;
        animation: none !important;
    }
}